<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClltkS-oI-INJzKWZ_x93XMMq6FIP_z_c</string>
	<key>GCM_SENDER_ID</key>
	<string>985021801408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ServiceAR.Panin.ServiceArKit</string>
	<key>PROJECT_ID</key>
	<string>dragtwist-7f182</string>
	<key>STORAGE_BUCKET</key>
	<string>dragtwist-7f182.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985021801408:ios:eb9cbcb52958f6cb529e25</string>
	<key>DATABASE_URL</key>
	<string>https://dragtwist-7f182-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>